.main-container {
    background-color: #e9fff4;
    padding: 5px;
    }
    .Articles {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        }
        .Articles > article {
            padding: 8px 15px 8px 8px;
            display: flex;
        }
        .article-icon {
            width: 70px;
            height: 70px;
            padding-right: 10px;
        }
        .summary {
        font-size: 8px;
        }

    .Books {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        }
        .book {
            padding: 8px 15px 8px 8px;
        }
        .book-icon {
            width: 70px;
            height: 100px;
        }