<div class="footer-container">
    <div class="footer-top">
        <img src=".\assets\images\AppIcon.png.png" class="AppIcon">
        <p>専門書の知識共有Webアプリを作ろう！</p>
    </div>
    <div class="footer-bottom">
        <nav class="footer-component-column1">
            <h5>About</h5>
            <a>このアプリについて</a>
            <a>メンバー</a>
        </nav>
        <nav class="footer-component-column2">
            <h5>Legal</h5>
            <a>利用規約</a>
            <a>プライバシーポリシー</a>
        </nav>
        <nav class="footer-component-column3">
            <h5>Links</h5>
            <a>Twitter</a>
            <a href="https://www.facebook.com/wasedaailab">Facebook</a>
            <a href="https://github.com/1buk109/ref">GitHub</a>
        </nav>
    </div>
</div>